*{
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}

h1 {
    padding: 20px;
}

.header {
    background-color: bisque;
    height: 10vh;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 7;
}

.aside {
    background-color: pink;
    height: 80vh;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.main {
    background-color: green;
    height: 80vh;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 7;
}

.footer {
    background-color: purple;
    height: 12vh;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 7;
}