body{
    margin: 10px;
    padding: 10px;
    background-image: url(images/template.jpg);
    color: white;
}
h1 {
    color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
}
nav {
    padding: 10px 10px;
    height: 20px;
    text-align: center;
}
nav li {
    display: inline-block;
    justify-content: center;
    list-style-type: none;
    margin-right: 10px;  
}
nav li a {
    display: block;
    text-decoration: none;
    color: #BE3144;
    padding: 5px;
}
nav li a:hover {
    color: blueviolet;
}
hr {
    height: 2px;
    width: 40%;
    border-top: 1px solid #ccc;
}
.sec1 {
    color: #427D9D;
    background-color: rgba(241, 90, 34, 0.9);
    padding: 2px 10px;
    margin: 10px 15px 25px 15px;
}
.sec2 {
    color: #427D9D;
    background-color: rgba(241, 90, 34);
    background: linear-gradient(48deg, rgba(241, 90, 34, 0.3) 20%, rgba(241, 90, 34, 0.5) 60%);
    padding: 2px 10px;
    margin: 10px;
}

footer {
    color: darkcyan;
    text-align: center;
}